@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&display=swap');

:root {
    --color-primary: #FFFFFF;
    --color-secondary: #D9C4B8;
    --color-tertiary: #593528;
    --color-quaternary: #8C5B49;
    --color-quinary: #0D0D0D;
    --color-textarea: #FFFFFF;
}

.darkmode {
    --color-primary: #222831;
    --color-secondary: #393E46;
    --color-tertiary: #948979;
    --color-quaternary: #DFD0B8;
    --color-quinary: #FFFFFF;
}

@media screen and (max-width: 5120px) {
    html, body {
        font-family: "Open Sans", "poppins", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }

    header {
        height: 100px;
        background-color: var(--color-secondary);
    }

    #theme-switch {
        position: fixed;
        top: 10px;
        right: 20px;
        height: 50px;
        width: 50px;
        background-color: var(--color-secondary);
        padding: 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #theme-switch svg {
        fill: var(--color-textarea);
    }

    #theme-switch svg:last-child {
        display: none;
    }

    .darkmode #theme-switch svg:first-child {
        display: none;
    }

    .darkmode #theme-switch svg:last-child {
        display: block;
    }

    
    #login-form {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background-color: var(--color-secondary);
        position: absolute;
        top: 18%;
        left: 45%;
        margin-top: -50px;
        margin-left: -50px;;
        width: 320px;
        height: 400px;
    }

    #login-title {
        margin: 50px auto 5px auto;
    }
    #login-instructions {
        margin: 10px auto;
    }
    
    #username, #password {
        margin: 10px auto;
        width: 250px;
        height: 30px;
        border-radius: 10px;
    }

    #username {
        background-image: url(../imagens/at_image.png);
        background-position: left;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        text-indent: 20px;
    }
    
    #password {
        background-image: url(../imagens/lock_image.jpg);
        background-position: left;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        text-indent: 20px;
    }

    #login-form-button {
        margin: 10px auto;
        width: 100px;
        height: 30px;
        border-radius: 10px;
    }
    
    #login-button {
        color: var(--color-quinary);
        background-color: var(--color-primary);
        position: fixed;
        border-radius: 10px;
        top: 40px;
        left: 150px;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }


    input {
        outline: none;
    }
    
    textarea {
        all: unset;
    }

    .logo {
        margin: 0px 30px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: purple;
        text-decoration: underline;
    }

    a:visited {
        color: purple;
    }

    .principal {
        background-color: var(--color-primary);
        margin: 0;
        flex:1;
    }

    .div-massagem {
        color: var(--color-quinary);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
    }

    .massage-descriptions {
        align-self: start;
    }

    .principal-localização {
        background-color: var(--color-primary);
        flex: 1;
        padding: 20px;
    }

    .principal-preço {
        background-color: var(--color-primary);
        color: var(--color-quinary);
        margin: 0;
        flex:1;
    }

    .principal-contato {
        background-color: var(--color-primary);
        color: var(--color-quinary);
        margin: 0;
        flex:1;
    }

    .principal-quemsomos {
        background-color: var(--color-primary);
        color: var(--color-quinary);
        margin: 0;
        flex:1;
    }


    h1, h2 {
        margin: 20px;
    }

    p {
        margin: 10px;
    }

    div {
    }

    img {
        width: 100px;
        height: 100px;
    }

    .menu {
        float: right;
        margin: 60px 10px 0 0;
        display: inline;
        padding: 0;
        box-sizing: border-box;
    }

    .menu-list {
        display: inline;
    }

    footer {
        height: 100px;
        width: 100%;
        background-color: var(--color-secondary);
        text-align: center;
    }

    .redes-sociais {
        margin-top: 47px;
    }

    .contato-mensagem {
        margin-top: 2px;
    }

    #form_message {
        background-color: var(--color-textarea);
        border: none;
        border-radius: 10px;
        resize: none;
        box-shadow: 2px 2px 5px #000000;
        height: 12em;
        width: 60em;
    }

    #form_name, #form_email {
        border: none;
        border-radius: 3px;
        margin-bottom: 7px;
        box-shadow: 2px 2px 5px;
    }

    .contato-nome, .contato-email, .contato-mensagem, .contato-enviar {
        margin-left: 20px;
    }

    .imagem-perfil {
        margin-top: 10px;
        margin-left: 7px;
    }

    .quemsomos-nome {
        display: inline;
    }

    .div-localização-mapa {
        /* justify-content: center; */
        /* align-items: center; */
        display: grid;
        grid-template-columns: 250px 600px;
        grid-template-rows: repeat(1, 1fr);
        gap: 2px;
    }


    .div-localização {
        color: var(--color-quinary);
    }


    .div-mapa {
        flex: 2;
    }

    .div-mapa iframe {
        width: 100%;
        height: 450px;
    }

    .preços {
        list-style: none;
    }

    .redes-sociais-size {
        font-size: 49px;
    }
}

@media (max-width: 912px) {
    html, body {
        font-size: 12px;
        }
    
    header {
        height: 200px;
        background-color: var(--color-secondary);
    }
    
    .div-localização-mapa {
        display: flex;
        flex-direction: column;
    }

    .formulario {
        margin-bottom: 10px;
    }
    
    #form_message {
        height: 10em;
        width: 50em;
    }
}

@media (max-width: 860px) {
    html, body {
        font-size: 12px;
        }
    
    header {
        height: 200px;
        background-color: var(--color-secondary);
    }
    
    .div-localização-mapa {
        display: flex;
        flex-direction: column;
    }

    .formulario {
        margin-bottom: 10px;
    }
    
    #form_message {
        height: 10em;
        width: 50em;
    }
}

@media (max-width: 640px) {
    html, body {
        font-size: 12px;
        }
    
    header {
        height: 200px;
        background-color: var(--color-secondary);
    }
    
    .div-localização-mapa {
        display: flex;
        flex-direction: column;
    }

    .formulario {
        margin-bottom: 10px;
    }
    
    #form_message {
        height: 10em;
        width: 20em;
    }    
}

@media (max-width: 540px) {
    html, body {
        font-size: 12px;
        }
    
    header {
        height: 200px;
        background-color: var(--color-secondary);
    }
    
    .div-localização-mapa {
        display: flex;
        flex-direction: column;
    }

    .formulario {
        margin-bottom: 10px;
    }
    
    #form_message {
        height: 10em;
        width: 30em;
    }    
}

@media (max-width: 430px) {
    html, body {
        font-size: 12px;
        }
    
    header {
        height: 200px;
        background-color: var(--color-secondary);
    }
    
    .div-localização-mapa {
        display: flex;
        flex-direction: column;
    }

    .formulario {
        margin-bottom: 10px;
    }
    
    #form_message {
        height: 10em;
        width: 25em;
    }    
}

@media (max-width: 375px) {
    html, body {
        font-size: 12px;
        }
    
    header {
        height: 200px;
        background-color: var(--color-secondary);
    }
    
    .div-localização-mapa {
        display: flex;
        flex-direction: column;
    }

    .formulario {
        margin-bottom: 10px;
    }
    
    #form_message {
        height: 10em;
        width: 20em;
    }    
}